
<div lass="bg-white font-family-karla h-screen">

  <div class="flex flex-wrap items-center justify-center w-full justify-content">


      <div class="flex flex-col w-full md:w-1/2">

          <div class="flex flex-col justify-center px-8 pt-8 my-auto md:justify-start md:pt-0 md:px-24 lg:px-32">
              <p class="text-3xl text-center">Join Us.</p>
              <form [formGroup]="profileForm" class="flex flex-col pt-3 md:pt-8" (ngSubmit)="onSubmit()">
                  <div class="flex flex-col pt-4">
                      <label for="name" class="text-lg">Name</label>
                      <input type="text" id="username" placeholder="name" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required">username is required</div>
                      </div>

                    </div>

                  <div class="flex flex-col pt-4">
                      <label for="adresse" class="text-lg">adresse</label>
                      <input type="text" id="adresse" placeholder="adresse" formControlName="adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                      <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                          <div *ngIf="f.adresse.errors.required">adresse is required</div>
                      </div>
                    </div>

                  <div class="flex flex-col pt-4">
                      <label for="text" class="text-lg">ville</label>
                      <input type="text" id="ville" placeholder="ville" formControlName="ville" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ville.errors }" class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                      <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
                          <div *ngIf="f.ville.errors.required">ville is required</div>
                      </div>
                    </div>

                  <div class="flex flex-col pt-4">
                      <label for="text" class="text-lg">telephone</label>
                      <input type="text" id="telephone" placeholder="telephone" formControlName="telephone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ville.errors }" class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                      <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                          <div *ngIf="f.telephone.errors.required">telephone is required</div>
                      </div>
                    </div>

                  <input type="submit" value="Ajouter" class="p-2 mt-8 text-lg font-bold text-white bg-black hover:bg-gray-700">
              </form>
              <div class="pt-12 pb-12 text-center">
                  <p><a [routerLink]="['/admin/proprietaire/list']" class="font-semibold underline">Return to List </a></p>
              </div>
          </div>

      </div>

      <!-- Image Section
      <div class="w-1/2 shadow-2xl">
          <img class="hidden object-cover w-full h-screen md:block" src="https://source.unsplash.com/IXUM4cJynP0">
      </div>
       -->
  </div>


  <!-- //TODO: to implement add Propriataire until f&ake backend -->
