<div class="container relative mx-auto carousel" style="max-width:1600px;">
  <div class="relative w-full overflow-hidden carousel-inner">
      <!--Slide 1-->
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
      <div class="absolute opacity-0 carousel-item" style="height:50vh;">
          <div class="flex block w-full h-full pt-6 mx-auto bg-right bg-cover md:pt-0 md:items-center"
              style="background-image: url('assets/ol.jpg');">

              <div class="container mx-auto">
                  <div class="flex flex-col items-center w-full px-6 tracking-wide lg:w-1/2 md:ml-16 md:items-start">
                      <p class="my-4 text-2xl text-gray-100">Flehti</p>
                      <a class="inline-block text-xl leading-relaxed no-underline border-b border-gray-600 hover:text-black hover:border-black" href="#">Bienvenue</a>
                  </div>
              </div>

          </div>
      </div>
      <label for="carousel-3" class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-1 md:ml-10 hover:text-white hover:bg-gray-900">‹</label>
      <label for="carousel-2" class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-1 md:mr-10 hover:text-white hover:bg-gray-900">›</label>

      <!--Slide 2-->
      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
      <div class="absolute bg-right bg-cover opacity-0 carousel-item" style="height:50vh;">
          <div class="flex block w-full h-full pt-6 mx-auto bg-right bg-cover md:pt-0 md:items-center" style="background-image: url('assets/ag.jpg');">

              <div class="container mx-auto">
                  <div class="flex flex-col items-center w-full px-6 tracking-wide lg:w-1/2 md:ml-16 md:items-start">
                      <p class="my-4 text-2xl text-orange-300">Real Confort</p>
                      <a class="inline-block text-xl leading-relaxed text-orange-300 no-underline border-b border-orange-600 hover:text-orange-700 hover:border-orange-300" href="#">Boutique</a>
                  </div>
              </div>

          </div>
      </div>
      <label for="carousel-1" class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-2 md:ml-10 hover:text-white hover:bg-gray-900">‹</label>
      <label for="carousel-3" class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-2 md:mr-10 hover:text-white hover:bg-gray-900">›</label>

      <!--Slide 3-->
      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
      <div class="absolute opacity-0 carousel-item" style="height:50vh;">
          <div class="flex block w-full h-full pt-6 mx-auto bg-bottom bg-cover md:pt-0 md:items-center"
          style="background-image: url('assets/ja.jpg');">

              <div class="container mx-auto">
                  <div class="flex flex-col items-center w-full px-6 tracking-wide lg:w-1/2 md:ml-16 md:items-start">
                      <p class="my-4 text-2xl text-orange-600">Flahetna</p>
                      <a class="inline-block text-xl leading-relaxed no-underline border-b border-gray-600 hover:text-black hover:border-black" href="#">Welcome</a>
                  </div>
              </div>

          </div>
      </div>
      <label for="carousel-2" class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-3 md:ml-10 hover:text-white hover:bg-gray-900">‹</label>
      <label for="carousel-1" class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-3 md:mr-10 hover:text-white hover:bg-gray-900">›</label>

      <!-- Add additional indicators for each slide-->
      <ol class="carousel-indicators">
          <li class="inline-block mr-3">
              <label for="carousel-1" class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900">•</label>
          </li>
          <li class="inline-block mr-3">
              <label for="carousel-2" class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900">•</label>
          </li>
          <li class="inline-block mr-3">
              <label for="carousel-3" class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900">•</label>
          </li>
      </ol>

  </div>
</div>
